h2{
    text-transform: uppercase;
    font-size: 25px;
}

.subheader, .intro {
    text-align: center;
    font-style: italic;
    font-size: 20px;
}

.headline {
    text-align: center;
}

#panda {
    height: 350px;
    display: block;
    margin:0 auto;
}

*{
    line-height: 30px;
    text-align: justify;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.main-text, .text-more, p{
    text-indent: 20px;
}

.footer-element{
    font-style: italic;
    color: lightslategray;
}

